// Search
// --------------------------------------------------

.site-search {
  display: block;
  float: right;
  margin-top: 8px;
}

.site-search form {
  display: block;
  margin-top: 0em;
}

.site-search input {
    padding: 3px;
    border: none;
    padding-left: 18px;
    border-radius: 0;
    width: 140px;
    
    background-size: 12px 12px;
    outline: none;
    border-bottom: 1px solid #999;
    opacity: 0.1;
}